/* Opción 1: Gris claro */
.btn-outline-primary {
    border-color: #d78477;
    color: #d78477;
    font-weight: 500;
}

.btn-outline-primary:hover {
    border-color: #d78477;
    background-color: #d78477;
    color: #fff;
}

nav.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5; /* Gris claro */
}

.navbar-brand {
    margin-left: 2%;
}

.btn-end {
    margin-left: auto;
}

.nav-link {
    font-size: 16px;
    color: black;
}

/* Opción 2: Rosa pálido */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9e2df; /* Rosa pálido */
}

/* Resto del CSS como en el ejemplo anterior */
