<section id="hero">
  <div class="col-md-10 py-5 px-3 mx-auto">
    <section id="hero" class="mb-5">
      <div class="container-fluid align-midle">
        <div class="row align-items-center">
          <div class="p-6 col-lg-5 mr-5 text-center">
            <div class="p-2">
              <p class="h1">Power Mentory</p>
              <p class="text-left text-weight-light fs-4 my-5">
                Somos un programa del estado para poder apoyar a estudiantes de enfoque primaria y secundaria brindándoles
                mentoría grupales acorde a la necesidad de la calidad de educación que se merecen y/o sumándole temas afines
                que podrían llegar a ser benéficos para su desenvolvimiento y conocimiento.
              </p>
            </div>
          </div>
          <div class="col p-6 align-self-center">
            <img class="img-fluid img-thumbnail" src="/assets/images/hero.jpg" alt="Bicycle" />
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
