<section id="mentors">
  <div class="container-fluid p-4">
    <p class="h3 text-weight-bold text-center text-dark">Mentores Top</p>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-5 shadow rounded p-3 m-3">
        <div>
          <img class="rounded-circle img mx-auto d-block" src="https://images.pexels.com/photos/1240744/pexels-photo-1240744.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="mentor" />
          <h3 class="text-center my-2">Julián Barranco</h3>
          <p class="text-center">Role/Expertise</p>
          <p class="text-center">Rating: 4/5</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-5 shadow rounded p-3 m-3">
        <div>
          <img class="rounded-circle img mx-auto d-block" src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="mentor" />
          <h3 class="text-center">Sofia Oliveira</h3>
          <p class="text-center">Role/Expertise</p>
          <p class="text-center">Rating: 3/5</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-5 shadow rounded p-3 m-3">
        <div>
          <img class="rounded-circle img mx-auto d-block" src="https://images.pexels.com/photos/712513/pexels-photo-712513.jpeg" alt="mentor" />
          <h3 class="text-center">Laura Lee</h3>
          <p class="text-center">Role/Expertise</p>
          <p class="text-center">Rating: 5/5</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <p>Comentarios:</p>
        <ul>
          <li>Julián Barranco: Gran comunicación y conocimiento profundo.</li>
          <li>Sofia Oliveira: Buen trabajo, pero a veces puede ser un poco impaciente.</li>
          <li>Laura lee: Excelente mentor, siempre dispuesto a ayudar y con gran empatía.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
